<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/public/style/style.css">
    <title>myGit</title>
</head>

<body>
    <section id="main-form">
        <h1>What Github user do you want to see?</h1>
        <form action="/github" method="post" accept-charset="utf-8">
            <input placeholder="Type Github username here..." name="message" type="text"></input>
            <p><input type="submit" value="Go"></p>
        </form>
    </section>
</body>

</html>