<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/public/style/style.css">
    <title>Repositories owned by</title>
</head>

<body>
    <h1>Repositories owned by {{user}}</h1>
    {{#each repos}}
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    {{/each}}
</body>

</html>